@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  body {
    @apply bg-base-100;
  }

  a {
    @apply cursor-pointer;
  }

  .authBtn {
    @apply btn;
  }

  button[disabled].authBtn {
    font-size: 0.001px;
    filter: brightness(65%);
  }

  button[disabled].authBtn::before {
    font-size: 14px;
    content: "Loading...";
    color: hsl(var(--pc));
  }
}

/* Remove the @plugin directives as they are not needed here */